.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #7176c3;
  border: 1px solid #9a1750;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #ee4c7c;
  border-color: #ee4c7c;
}
