.selector_class {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.selector_title {
  font-size: 1rem;
  font-weight: 400;
  color: #5d5f7e;
}

.selector_closed {
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #c9dde2;
  border-radius: 0.5rem;
  min-width: 225px;
  color: #5d5f7e;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
}

.expanded_list {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 10px 10px;
  background: #fff;
  min-width: 150px;
  color: #2e3156;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  z-index: 1;
  max-height: 400px;
  overflow-y: auto;
  cursor: pointer;
  list-style: none;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
}
.expansed_list {
  border-bottom: 1px solid rgba(46, 49, 86, 0.2);
  font-size: 14px;
  font-weight: 500;
  padding: 5px 5px;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8a91f2;
}
