.selector_class{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.selector_title{
    font-size: 1rem;
    font-weight: 400;
    color: #5D5F7E;
}

.selector_closed{
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #c9dde2;
    border-radius: 0.5rem;
    min-width: 225px;
    color: #5D5F7E;
    font-size: 14px;
    font-weight: 500;
}

.expanded_list{
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 10px 10px;
    background: #fff;
    min-width: 150px;
    color: #2E3156;
    font-size: 14px;
    font-weight: 500;
}
.expansed_list{
    border-bottom: 1px solid rgba(46, 49, 86, 0.2);;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 5px;
}